:root {
  --primary-font: "Poppins", sans-serif;
  --second-font: "Playfair Display", serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7ff;
}
body {
  font-family: var(--primary-font);
}
h1 {
  font-family: var(--second-font);
  font-size: 96px;
  font-weight: bold;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  color: #272142;
}
.btn-branding {
  padding: 18px 46px;
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
}
