@media (max-width: 1300px) {
  span.line {
    display: none;
  }
  h4.mt-5 {
    text-align: center;
  }
  h3.mt-4 {
    text-align: center;
  }
}
@media (max-width: 900px) {
  h1.pt-4.mt-5 {
    font-size: 48px;
    margin: 0;
  }
  h4.mt-5 {
    font-size: 28px;
    text-align: center;
  }
  h3.mt-4 {
    font-size: 28px;
    text-align: center;
  }
}

:root {
  --primary-font: "Nunito";
  --second-font: "Playfair Display", serif;
  --branding-color: rgb(180, 152, 90);
  --secondary-color: #f9f7ff;
  --third-color: #272142;
}
body {
  font-family: var(--primary-font);
}
h1 {
  font-family: var(--second-font);
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
}
h3 {
  text-transform: uppercase;
  font-size: 36px;
  color: var(--third-color);
  padding-left: 20px;
  margin-bottom: 30px;
}
h4 {
  color: var(--branding-color);
  text-align: right;
  font-size: 36px;
  text-transform: capitalize;
}
p {
  font-size: 18px;
  line-height: 35px;
  margin-top: 12px;
  color: var(--branding-color);
  font-weight: 800;
}
.col-9 a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 15px;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
a:hover {
  opacity: 0.8;
  color: var(--third-color);
  font-size: 15.3px;
}
hr {
  width: 200px;
}
span.line {
  border-bottom: 2px solid var(--branding-color);
  padding: 0 320px 0 0;
  text-transform: capitalize;
  margin: 0 20px 0 0;
}
.hero {
  text-align: center;
  background-image: url(/images/herobackground.jpg);
  background-repeat: no-repeat;
  background-position: d-flex;
  background-attachment: scroll;
  background-size: inherit;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.hero h2 {
  font-size: 24px;
  line-height: 35px;
  padding: 20px;
}

.btn-branding {
  padding: 18px 46px;
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
}
.container {
  justify-content: center;
  width: 90%;
}
.img-fluid {
  height: 290px;
  border-radius: 12px;
  margin-top: 10px;
}
.img-fluid:hover {
  max-width: 92%;
}
.col-9 {
  border-right: 1.5px solid var(--branding-color);
  text-align: right;
}
.nav-link {
  font-size: 26px;
  color: var(--third-color);
  margin-right: 20px;
}
.nav-link:hover {
  font-size: 28px;
}
