:root {
  --primary-font: "Nunito";
  --second-font: "Playfair Display", serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7ff;
}
body {
  font-family: var(--primary-font);
}
h1 {
  font-family: var(--second-font);
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
}
p {
  color: #272142;
  font-size: 18px;
  line-height: 35px;
  margin-top: 12px;
  color: #f65282;
  font-weight: 800;
}

.hero {
  text-align: center;
  background-image: url(/images/herobackground.jpg);
  background-repeat: no-repeat;
  background-position: d-flex;
  background-attachment: scroll;
  background-size: inherit;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.hero h2 {
  font-size: 24px;
  line-height: 35px;
  padding: 20px;
}
.btn-branding {
  padding: 18px 46px;
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
}

.container {
  justify-content: center;
  width: 90%;
}
.img-fluid {
  height: 290px;
  border-radius: 12px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #272142;
  font-size: 15px;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
a:hover {
  opacity: 0.7;
  color: #272142;
  font-size: 15.3px;
}
.col-9 {
  border-right: 1px solid rgb(103, 212, 210);
  text-align: right;
}
